<!DOCTYPE html>
{{#minify}}
<html lang="en">
    {{> layout/html-head}}
    <body>
        {{> layout/header}}
        <main id="main" role="main">
            {{{ content }}}
        </main>
        {{> layout/footer}}
    </body>
</html>
{{/minify}}