<div class="vw-chkt">
	{{> global/gen-header title="Checkout" chatBtn=true }}
    <section id="js-checkout"></section>
    {{> global/gen-footer-cruise }}
</div>

<script>
    _app.addView = 'cart/checkout.js';
</script>