/*
// Colors Abstract
// ------------------------------------------------ */

// Colors
$blue: (
  darker-3: #024972,
  darker-2: #009bd9,
  darker-1: #009EE2,
  default: #00a5e7,
  lighter-1: #17ade8,
  lighter-2: #00aeef
);

$grey: (
  default: #464646,
  lighter-1: #707070,
  lighter-2: #959595,
  lighter-3: #f6f6f6
);

$black: (
  default: #000,
  lighter-1: #454442,
  lighter-2: #585755
);

$green: (
  darker-1: #47B007,
  default: #88c240,
  lighter-1: #CAD11F,
  lighter-2: #d7df21
);

$red: (
  default: #e74c3c
);

$orange: (
  default: #f1592a
);

$yellow: (
  default: #f1c40f
);

$shades: (
  black: #000,
  white: #FFF,
  transparent:  transparent
);

$social: (
  facebook: #3B5998,
  gplus: #d34836,
  twitter: #1dcaff
);

$colors: (
  grey: $grey,
  black: $black,
  blue: $blue,
  green: $green,
  red: $red,
  orange: $orange,
  yellow: $yellow,
  social: $social,
  shades: $shades
);
