<div class="vw-cntct">
	{{> global/gen-header title="Contact Us" chatBtn=true }}
    <section id="contact-form"></section>
    {{> global/gen-footer-cruise }}
</div>

<script>
    _app.addView = 'main/contact.js';
</script>
