<div class="vw-privacy">
    {{> global/gen-header title="Privacy Policy" chatBtn=true }}
    <br>
    <section class="container main-content">
        <div class="row">
            <div class="xs-12 lg-7">
                <p><b>General</b></p>

                <p>Roatan Excursions only collects personally identifiable information on a voluntary basis. Roatan Excursions does not require that you provide this information to gain access to the websites, and it does not require you to disclose more information than is reasonably needed to participate in an activity on the websites. Roatan Excursions collects no identifiable information primarily to e-mail updates and news, for entry into promotions and to notify subsequent winners, to fulfill brochure requests etc. via regular mail, and to respond to your questions or concerns. Roatan Excursions does not sell, transfer or disclose any information gathered at our websites to anyone outside. You may unsubscribe from emails by simply clicking on the unsubscribe link found at the top and bottom of the email.</p>

                <p><b>Secure Bookings</b></p>

                <p>Roatan Excursions wants you to feel secure when making a booking on our website and appropriate security measures are employed to protect the loss, misuse and alteration of the information under our control. However, Roatan Excursions (like all websites) cannot warrant or guarantee 100% security of any information you transmit through the website.</p>

                <p><b>Links To Other Sites</b></p>

                <p>This website may contain hyperlinks to websites operated by parties other than Roatan Excursions. Such hyperlinks are provided for your reference only. Roatan Excursions does not control such websites and is not responsible for their contents. The inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators. In addition, Roatan Excursions shall not have any responsibility for other websites linked to this website.</p>

                <p><b>Cookies on Roatan Excursions</b></p>

                <p>A cookie is a small text file stored on a user’s hard drive. Depending on how you have configured your browser, when you visit our site we use cookies. Cookies are required to shop on our site. We use cookies to assist with anonymous site traffic analysis, which includes tracking the time/date of visits, pages viewed, and referring URLs.</p>

                <p>There are simple ways to either refuse all cookies, or accept them each time they are offered. Consult your browser’s help files for assistance on changing cookie settings or removing cookie files.</p>

                <p><b>How To Contact Us</b></p>

                <p>If you have any questions or concerns about the Privacy Policy or your dealings with this website, please contact us at info@roatanexcursions.com</p>
            </div>
            <div class="xs-12 lg-offset-1 lg-4">
                <div class="subscribe-box"></div>
            </div>
        </div>
    </section>
    {{> global/gen-footer-cruise }}
</div>
