<div class="vw-tc">
    {{> global/gen-header title="Terms & Conditions" chatBtn=true }}
    <br>
    <section class="container main-content">
        <div class="row">
            <div class="xs-12 lg-7">
                <p>No matter how long you are on the Island, <a href="/">Roatan Excursions</a> is dedicated to ensuring your time on the island is as enjoyable as possible. Our fully trained staff comprising of dive masters, Roatan snorkeling guides, and dining staff are primarily concerned about one thing: Making sure you are comfortable and have everything you need to enjoy your shore excursions and stay on Roatan.</p>

                <p>There is no other excursion company who offers the same range of activities or entrance to the San Simon Beach Club that we do, which means our guests enjoy exclusive access to the facilities and all-inclusive services on offer.</p>

                <p>Our experience, local knowledge, and professional service makes us the number one choice for cruise ship passengers looking for a stress free day or fun and relaxation. Let Roatan Excursions do the legwork for you, so all you need worry about is having a good time.</p>
            </div>
            <div class="xs-12 lg-offset-1 lg-4">
                <div class="subscribe-box"></div>
            </div>
        </div>
    </section>
    {{> global/gen-footer-cruise }}
</div>
