/*
// Homepage Styles
// ------------------------------------------------ */

//==== Base ====//
.vw-cntct {
    form {
        padding-top: 2rem;
        padding-bottom: 4rem;
        text-align: center
    }
    header {
        margin-bottom: 2rem
    }
    #contact-form {
        margin-top: 4rem;

        p {
            margin-bottom: 5rem;
        }
    }
}
