<footer class="gen-footer">
    <a href="/cruise-passengers/" class="cruise-btn">
        <span class="bubble"><i class="icon-cruise"></i></span>
        <span class="ribbon"><b></b> CLICK HERE</span>
    </a>
</footer>