<header class="gen-header">
    <h2 class="gen-ttl">{{#if icon}}<i class="{{icon}}"></i>{{/if}} {{ title }} <span class="bubbles"><b></b></span></h2>
    {{#if chatBtn}}
    	{{> global/chat-btn }}
   	{{/if}}
</header>