<head>
    {{> global/metas}}
    {{> global/css}}
    {{> global/init-js}}
</head>

<!--[if lte IE 9]>
    <p class="browsehappy">You are using an outdated browser. Please <a href="http://browsehappy.com/">update your browser</a>.</p>
<![endif]-->