<aside class="social">
    <span class="ib">SHARE:</span>
    <a href="" class="ib icon-facebook"></a>
    <a href="" class="ib icon-twitter"></a>
    <a href="" class="ib icon-google-plus"></a>
</aside>